[submodule "lde-frontend"]
	path = lde-frontend
	url = https://github.com/JOSEW383/lde-frontend.git
[submodule "lde-api"]
	path = lde-api
	url = https://github.com/JOSEW383/lde-api.git
[submodule "lde-admin"]
	path = lde-admin
	url = https://github.com/JOSEW383/lde-admin.git
